.scannerContainer {
  margin-top: 100px;
  padding: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /* min-height: calc(100vh - 160px); */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.scannerOptions {
  text-align: center;
  padding: 40px 25px;
  width: 100%;
  /* max-width: 800px; */
}

.scannerOptions h2 {
  font-size: 2rem;
  color: #000000dc;
  margin-bottom: 12px;
}

.scannerOptions p {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.optionsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 45px;
  max-width: 600px;
  margin: 0 auto;
}



/* @keyframes scan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
} */



@media (min-width: 1000px) {
  .scannerContainer {
    margin: 10% auto;
    padding: 15px;
  }

  .scannerOptions {
    padding: 20px 15px;
  }

  .scannerOptions h2 {
    font-size: 1.8rem;
  }

  .scannerOptions p {
    font-size: 1.2rem;
    margin: 40px 0;
  }

  .optionsGrid {
    /* grid-template-columns: 1fr; */
   grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 600px;
    height: 240px;
  }
}
