/* Mobile screen styles */

.home {
    width: 100%;
}

.greetingBanner{
    margin-top: 30%;
}

.greetingBanner h2 {
    font-size: 26px;
    text-align: center;
}

.greetingBanner span {
    color: #DD5837;
}

.greetingBanner h4 {
    text-align: center;
    margin-top: 20px;
    font-size: 22px; 
}




/* Larger screen styles */
@media(min-width: 1000px) {
    .home {
        /* margin: 0 auto; */
    }   

    .greetingBanner{
        margin-top: 13%;
        text-align: center;
    }

    .greetingBanner h2 {
        font-size: 35px;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid black;
        display: inline-block;
        width: 0;
        animation: typing 2.0s steps(22, end) forwards, blink 0.5s infinite;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 33.5%;
        }
    }
    
    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }

    .greetingBanner h4 {
        margin-top: 30px;
        font-size: 25px; 
    }

}