.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .dialog {
    background: white;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .dialog p {
    font-size: 20px;
  }

  
  .actions {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.confirmButton {
    font-size: 17px;
    font-family: 'Lexend Deca';
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelButton {
    font-family: 'Lexend Deca';
    font-size: 17px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .confirmButton:hover {
    background-color: #45a049;
  }
  
  .cancelButton:hover {
    background-color: #e53935;
  }