/* Mobile screen styles */

.map {
    justify-content: center;
    text-align: center;
}

.map .map3D {
    width: 100%;
    height: 370px;
    margin: 35% auto;
    opacity: 0.72;
}

.map img {
    position: relative;
    display: inline-block;
}


.map .touch {
    position: absolute;
    width: 66px;
    height: 66px;
    top: 33%;
    left: 45%;
    opacity: 1;
}





/* Larger screen styles */
@media(min-width: 1000px) {
    
}