/* Mobile screen styles */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* */
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  backdrop-filter: blur(10px);
}

.navbar .shoppingBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .shoppingBtn a {
  text-decoration: none;
  color: #000000dc;
}
.navbar .shoppingBtn .shoppingCard {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.navbar .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  margin-right: 3%;
  cursor: pointer;
  transition: transform 0.25s ease-in-out; /* Smooth transition for rotation */
}

.navbar .hamburger span {
  display: block;
  height: 4.6px;
  background-color: #000000dc;
  border-radius: 3px;
  transition: all 0.3s;
}

/* When menu is open, rotate the hamburger button */
.hamburger.open {
  transform: rotate(90deg);
}

/* Optionally, change color when the hamburger is open */
.hamburger.open span {
  background-color: #dd5837;
}

.navbar .ulMob {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  position: absolute;
  top: 72px;
  right: 0;
  background-color: #ffffff;
  width: 430px;
  height: 460px;
  box-shadow: 0px 0px 1px 1.5px black;
  z-index: 10;
  transform: translateX(100%);
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Ensure it's not interactive when hidden */
  transition: transform 0.32s, opacity 0.37s, visibility 0.37s;
}

/* Display the menu when open */
.navbar .ulMob.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.ulMob li {
  padding: 10%;
  text-align: center;
  font-size: 20px;
}

.ulMob li a {
  text-decoration: none;
  font-weight: 650;
  color: black;
  padding: 30px; /* For having more space to click, facilitaing */
}

/* Disabling default nav in mobile screen */
.navbar .ulDefault {
  display: none;
}

/* Larger screen styles */
@media (min-width: 1000px) {
  .navbar {
    padding: 1.15% 3%;
  }

  .navbar .hamburger {
    display: none;
  }

  .navbar .ulMob {
    display: none;
  }

  .navbar .ulDefault {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 4rem;
    margin: 0 10%;
  }

  .navbar .ulDefault li a {
    text-decoration: none;
    color: #0a1226;
    font-weight: 600;
    font-size: 14.5px;
    border: 1.7px solid black;
    padding: 15px;
    border-radius: 20px;
    transition: ease-in-out 0.19s;
  }

  .navbar .ulDefault li a:hover {
    background-color: #dd5837;
    /* transition: color 0.30s ease; */
    color: white;
  }

  .ulDefault li a.active {
    background-color: #dd5837;
    color: white;
  }

  .navbar .shoppingBtn {
    margin-right: 7%;
  }
  .navbar .shoppingBtn .shoppingCard {
    width: 40px;
    height: 40px;
    transition: ease-in-out 0.1s;
  }

  .navbar .shoppingBtn .shoppingCard:hover {
    color: #dd5837;
    /* transition: color 0.25s ease; */
  }
}

.cartIconContainer {
  position: relative;
}

.cartBadge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #dd5837;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}
