@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

.searchContainer {
  width: 100%;
  max-width: 800px;
  margin: 24% auto;
  /* padding: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 60vh; */
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  min-width: 300px;
  padding: 15px 42px 15px 13px;
  border: 1px solid #eee;
  border-radius: 24px;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
  font-family: "Lexend Deca";
}

.searchInput::-webkit-search-cancel-button {
  filter: invert(27%) sepia(85%) saturate(6000%) hue-rotate(340deg)
    brightness(92%) contrast(100%);
  cursor: pointer;
}

.searchInput:focus {
  outline: none;
  border-color: #dd5837;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.1);
  background-color: white;
}

.searchButton {
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.searchIcon {
  width: 20px;
  height: 20px;
  fill: #666;
}

@media (min-width: 1000px) {
  .searchContainer {
    /* padding: 0.5rem; */
    margin: 12% auto;
    /* margin-top: 12%;
    margin-bottom: 11.71%; */
  }

  .searchInput {
    padding: 16px 48px 16px 13px;
    font-size: 14px;
    min-width: 700px;
    font-size: 19px;
  }

  .searchIcon {
    width: 25px;
    height: 25px;
  }
}

/* @media (max-width: 480px) {
  .search-input {
    padding: 8px 32px 8px 8px;
    font-size: 13px;
  }
} */
