@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Lexend Deca';
}

html {
  scroll-behavior: smooth;
}

/* Prevent horizontal scrolling */
body, html {
  overflow-x: hidden; /* Disable horizontal scrolling */
}

html {
  overflow-y: scroll;
}

/* full screen */
html, body { 
  /* height: 100% */
}

.slick-slider {
  margin-left: 10px; /* Adjust as needed */
}

